body {
  margin: 0;
  padding: 0;
}
div {
  font-size: 50px;
}
.cookies {
  height: 100px;
  background-color: yellow;
  font-size: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}